
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #map-canvas {
            position:absolute;
            height: 100%;
            width: 100%;
      }
      .demo-layout-transparent {
          background: url('../assets/demos/transparent.jpg') center / cover;
        }
      .demo-layout-transparent .mdl-layout__header,
      .demo-layout-transparent .mdl-layout__drawer-button {
          /* This background is dark, so we set text to white. Use 87% black instead if
             your background is light. */
          color: white;
        }
      .mdl-layout__drawer-button {
          margin-top: 56px;
          color: #333 !important;
          background:white;
      }
      .demo-card-square.mdl-card {
      width: 320px;
      min-height: 120px;
      }
      .demo-card-square > .mdl-card__title {
      color: #fff;
      background:
        url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
      }
      .nl-switches {
          display:inline;
          padding:0 15px;
      }
      .nl-switches-label {
        left: -40px;
        bottom: 15px;
      }
      #results {
          overflow-wrap: break-word;
          word-wrap: break-word;
          -ms-word-break: break-all;
          word-break: break-all;
          word-break: break-word;
          -ms-hyphens: auto;
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
      }
      #results a, .mdl-layout__content a {
          color: #43A047;
          text-decoration:none;
      }
      #results a:hover {
          color: #A5D6A7;
          text-decoration:none;
      }
      .tresult, .lresult {
          padding-bottom:10px;
      }
    #currentFN a {
        display: inline;
    }